body {
    font-family: 'Roboto Serif', serif;
    margin: 0;
    padding: 0px;
}



.div1 h1 {
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-top: 0px;

}

.div1 p {
    color: white;
    margin-top: -5px;
    margin-bottom: 50px;
}

.div1 {
    text-align: center;
    background-image: linear-gradient(rgba(43, 49, 49, 0.486), rgba(0, 61, 58, 0.692)), url(img/charity-main.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 90px;
    padding: 150px 0;



}

a {
    margin-top: 10px;
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(0, 212, 212), rgba(5, 201, 201, 0.541));
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition-duration: 2s;
    box-shadow: 3px 3px 7px rgba(255, 255, 255, 0.267);

}

#today {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 40px;
    padding-top: 50px;



}

.donate-today p {
    margin-top: 10px;
}


.donate-today {
    text-align: center;

}

.parent1 {
    display: flex;
    margin: 10px 300px;
    margin-bottom: 80px;

}

.taka {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
    font-weight: 90;
    padding: 25px;
    background-color: rgba(162, 175, 179, 0.377);
    margin: 20px;
    font-weight: 900;
    border-radius: 4px;




}

.blue {
    border: 5px solid rgb(6, 161, 189);
    background-color: rgba(0, 255, 234, 0.493);
}

.otherAmount {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid rgb(185, 185, 185);
    margin-bottom: 40px;

}

section {
    margin-bottom: 50px;
}

.button2 {
    margin-top: 10px;
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(0, 141, 141), rgba(7, 185, 185, 0.644));
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition-duration: 2s;
    box-shadow: 3px 3px 6px grey;
}

.bigbox1 {
    height: 300px;
    padding: 30px 30px;
    background-color: rgba(255, 228, 196, 0.397);
    margin: 20px;


}

.bigbox2 {
    height: 300px;
    padding: 30px 30px;
    background-color: rgba(175, 255, 144, 0.342);
    margin: 20px;

}

.bigbox3 {
    height: 300px;
    padding: 30px 30px;
    background-color: rgba(164, 249, 252, 0.473);
    margin: 20px;
}

.parent2 {
    display: flex;
    margin: 30px 30px;
    margin-bottom: 80px;
    margin-top: 60px;


}

#plan {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 40px;
    padding-top: 50px;
}

.parent3 {
    display: flex;
    margin-bottom: 40px;
}


.bigbox {
    width: 40%;
    padding: 5%;
    font-size: 35px;
    color: rgb(89, 96, 102);
    font-family: 'Shadows Into Light', cursive;

}

.bigbox img {
    width: 80%;
    background-image: linear-gradient(rgb(43, 43, 43), rgba(10, 9, 9, 0.699));
}

.flexible {
    margin: 200px;
    margin-top: 30px;
    height: 40px;
    background-color: rgba(1, 92, 92, 0.445);
    padding: 50px;
    width: 80;

}

.update {
    text-align: center;
    font-size: larger;
}

.update h1 {
    font-size: 50px;
}

.mailbox {
    height: 35px;
    padding-right: 100px;
    margin-left: -100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 18px;


}

.submitbox {
    height: 37px;
    width: 200px;
    text-align: center;
    margin-right: -100px;
    border: none;
    font-size: 18px;
    color: rgb(119, 119, 119);
    background-color: rgb(198, 255, 247);



}

footer {
    height: 80px;

    text-align: center;
    background-color: rgb(1, 21, 22);
    padding-bottom: 0px;
    margin-bottom: -18px;
    color: antiquewhite;
    padding: 10px;
}

small {
    font-size: x-small;
}

.flaxible {
    display: flex;
}